<header>Log entries for <%= link_to(@wine.name, @wine) %></header>
<ol id="reviews">
  <% @log_entries.each do |review| %>
    <li>
      <span class="review"><%= pluralize(review.rating, 'stars') %></span>
      <span class="user">by <%= review.name %> </span>
      <span class="date">
        <%= time_ago_in_words(review.created_at) %> ago
      </span>
      <p>
        &quot;<%= review.comments %>&quot;
	  </p>
    </li>
  <% end %>
</ol>

<%= link_to 'Write a log entry', new_wine_log_entry_path(@wine),
        remote: true,
        data: { 'update-target' => 'log_entry_form_container' },
        class: 'btn btn-primary' %>

<div id="log_entry_form_container"></div>